@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.mr-5{
  margin-right: 2px;
}

.mr-5{
  margin-right: 5px;
}

.ml-5{
  margin-right: 5px;
}